.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .title {
    margin-top: 25px;
    margin-bottom: 20px;
}

.container .title h2 {
    font-size: 1.7rem;
}

.form {
    width: 50vw;
    height: 80vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-inline: 8%;
    border-radius: 10px;
}

.form form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.form form:first-child {
    margin-top: 30px;
}

.form form div label {
    font-size: 1rem;
}

.form form div input {
    border-radius: 10px;
    border-color: none;
    border-width: 1px;
    padding: 5px;
    font-size: 40px;
}

.button button {
    background-color: green;
    color: white;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1rem !important;
    padding: 10px;
    height: 100%;
}

.button button:hover {
    background-color: darkgreen;
    color: white;
}

a {
    background-color: red;
    color: white;
    text-align: center;
    margin-top: 8px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px;
    text-decoration: none;
    height: 100%;
}

.button a:hover {
    background-color: darkred;
    color: white;
}