table {
    width: 90vw;
}

.target-th {
  width: 10%;
}

.target-td {
  display: flex;
}

.btn-edit {
  background-color: green;
  color: white;
}

.btn-remove {
  background-color: red;
  color: white;
}

.btn-edit:hover {
  background-color: darkgreen;
  color: white;
}

.btn-remove:hover {
  background-color: darkred;
  color: white;
}